.gradient-custom-2 {
background: #fbc2eb;


background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));

background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
}

.icon-wrapper {
  height: 80px; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.icon-wrapper img {
  max-width: 70px;
  max-height: 70px;
}

.skills-text{
    font-size: 10px;
}

.text-accent {
  color: #18d26e; 
}

.bg-black {
  background-color: #000 !important;
}

